h1 {
  font-family: Helvetica;
}
h2 {
  font-family: Helvetica;
  text-align: center;
}
th {
  font-family: Helvetica;
  border:none;
}
td {
  font-family: Helvetica;
  color: rgb(40, 40, 40);
  border:none;
  padding:0px;
}
button {
  font-family: Helvetica;
  margin:5px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  border: solid 1px;
  width: 30px;
  height: 30px;

}
button:hover {
  background: rgb(76, 194, 231);
}
button:active {
  background: rgb(46, 164, 201);
}
button:focus {
  outline: none;
}

.create-button {
  background: rgb(28, 184, 65);
}
.create-button:hover {
  background: rgb(38, 194, 75);
}
.create-button:active {
  background: rgb(8, 164, 45);
}

.delete-button {
  background: rgb(202, 60, 60);
}
.delete-button:hover {
  background: rgb(192, 50, 50);
}
.delete-button:active {
  background: rgb(222, 80, 80);
}

.view-button {
  width: 150px;
}
label {
  font-family: Helvetica;
  font-size: 14px;
  width: 150px;
  display:inline-block
}
input {
  font-family: Helvetica;
  font-size: 14px;
}
.form-group {
  margin: 10px;
}
.submit-button {

}
tr {
  text-align: center;
}
tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
