<div>
  <button class="create-button" routerLink="/createform"><i class="fa fa-plus-square"></i></button>
  <table>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Account Number</th>
    </tr>
    <tr *ngFor="let account of accounts">
      <td>{{account.firstName}}</td>
      <td>{{account.surname}}</td>
      <td>{{account.accountNumber}}</td>
      <td>
        <button [routerLink]="['/updateaccount', account.id]"><i class="fa fa-edit"></i></button>
        <button class="delete-button" (click)="deleteAccount(account.id)"><i class="fa fa-remove"></i></button>
      </td>
    </tr>
  </table>
</div>
